AUTH_SECRET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:support@example.com
ADMIN_PASSWORD=
DISCORD_PUBLIC_KEY=
DISCORD_APP_ID=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
NEXT_PUBLIC_VALOMATCH_DISCORD_URL=
NEXT_PUBLIC_STAMATE_DISCORD_URL=
NEXT_PUBLIC_SHOENMATE_DISCORD_URL=
FEEDBACK_TO_EMAIL=
RESEND_API_KEY=
FEEDBACK_FROM_EMAIL=YUNAMATCH <onboarding@resend.dev>
